.signin {
        min-height: 100vh;
        padding: 4rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
      }
  
  .alert{
    display: flex;
    margin: 1.1rem 2rem !important;
    justify-content: center;
    width: 40vw;
    border-radius: 10px;
  }
  
  .field{
    display: flex;
    margin: 1.1rem 2rem !important;
    flex-direction: column;
    width: 40vw;
    border-radius: 10px;
    box-shadow: 3px 2px 3px grey;
  }

  .already{
    margin:1rem auto;
  }

  .btn{
      margin-top: 20px;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 5px 5px 3px grey;
  }